#N
imem_addr\[0\]
imem_addr\[1\]
imem_addr\[2\]
imem_addr\[3\]

#S
imem_rdata\[0\]
imem_rdata\[1\]
imem_rdata\[2\]
imem_rdata\[3\]
imem_rdata\[4\]
imem_rdata\[5\]
imem_rdata\[6\]
imem_rdata\[7\]

#E
halted

#W
clk
rst_n
